/*******Google Fonts Import*******/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*******Colors*******/
$primary: #52ea1f;
$secondary: #afbdc3;
$dark: #000000;
$white: #FFFCF7;
html, body {width: auto!important; overflow-x: hidden!important}

body{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*a{
    text-decoration: none;
}
*li{
    list-style: none;
}
.button-15 {
    align-items: center;
    appearance: none;
    background-color: $white;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: $dark;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    $white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
    border-radius: 20px 0 20px 0 !important;
  }

  .button-15.alt{
    background-color: $dark;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, #525257 0 -3px 0 inset;
    color: $white;
  }
  
  .button-15:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-15:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  .button-15:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

/*******Small Screens Mobile********/
@media (min-width:320px) {
    .button-15 {
        height: 40px;
        line-height: 1;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 16px;
        border-radius: 20px 0 20px 0 !important;
      }
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    width: 100%;
    background-color: $white;
    box-shadow: -2px 2px 2px 1px #b2b2b2;
    z-index: 99;
}
nav::after{
    content: 'Spread Love,Peace And Joy.Spread Love,Peace And Joy.Spread Love,Peace And Joy.Spread Love,Peace And JoySpread Love,Peace And JoySpread Love,Peace And Joy';
    font-size: 3px;
    position: absolute;font-family: 'Dancing Script';
    left: -10px;
    bottom: -11px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    height: 10px;
    transform: skewX(-35deg);
    box-shadow: 0 2px 2px 2px #201f226d;
    border-radius: 0 0 15px 0;
    display: flex;
    justify-content: center;
    background: $dark;
    align-items: center;
    color: $white;
}
nav .logo{
    color: $dark;
    font-size: 24px;
    font-weight: 700;
    margin-top: auto;
}
.nav-link{
    color: $dark;
}
.nav-links-container{
    position: relative;
    margin-top: auto;
}
.nav-links-container a.btn{
    background-color: $white;
    color: $dark;
    font-size: 20px;
}
.nav-links-container .menu{
    position: absolute;
    padding-left: 0;
    padding: 10px 5px;
    right: -250px;
    top: 65px;
    width: 200px;
    background-color: $dark;
    z-index: 88;
    border-radius: 0 0 0 5px;
    transition: 0.5s ease;
}
.nav-links-container .menu.active{
    right: -15px;
}
.nav-links-container .menu li{
    background-color: $white;
    margin-bottom: 5px;
    padding-left: 3px;
    border-radius: 4px 30px 4px 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border: 1px solid;
}
.nav-links-container .menu li a{
    display: inline-block;
}
header{
    margin-top: 60px;
    height: auto;
    padding-top: 40px;
}
header .container-fluid{
    position: relative;
}

header .title{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1.5px transparent;
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    text-shadow: 10px 9px 6px $dark,9px 7px $dark;
    position: relative;
    letter-spacing: 3px;
}
header .title .web{
    transform: rotateX(-40deg);
    text-shadow: 10px 9px 6px $primary,9px 7px $dark;
}
.header-variant{
    font-size: 16px;
    text-shadow: -5px 7px 6px rgb(255, 255, 255),9px 7px $dark;
    color: $dark;
    position: relative;
    top: -25px;
    left: 5px;
}
.header-variant svg{
    color: $dark;
    position: relative;
    top: 7.8px;
    width: 35px;
    left: 8px;
}
.quick-actions{
    margin-top: 15px;
    padding: 7.5px 20px;
    margin-left: auto;
    position: relative;
}
.xs{
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Dancing Script';
    font-weight: bold;
    color: $dark;
}
.xs svg{
    color: $primary;
}
.quick-actions::after{
    position: absolute;
    content: '';
    background: linear-gradient(to right,$white,$secondary,$white);
    top: 10%;
    right: -15%;
    z-index: -1;
    width: 150%;
    height: 500px;
    transform: translateX(-45px) rotate(-30deg);
}
.dev-container{
    position: relative;
    background-image: url(/images/coding-1.png);
    background-position: center;
    background-size: cover;
    height: 250px;
    min-width: 300px;
    border-radius: 5px;
    display: flex;
}
.dev-container .img-1{
    width: 160px;
    height: 160px;
    position: relative;
    right: 5px;
}
.quick-actions .button-15{
    width: auto;
}
.social{
    margin: 5px 0;
    z-index: 16;
}
.social svg{
    font-size: 20px;
    margin-left: 7px;
    color: $dark;
    cursor: pointer;
    transition: 0.5s ease;
    padding: 3px;
    border-radius: 5px;
}
.social svg:hover{
    transform: translateY(-5px);
    color: $primary;
}
.quick-buttons{
    display: flex;
    flex-direction: column;
}
.quick-buttons .btn{
    margin-bottom: 10px;
    border-radius: 2px;
}
.okyy.lg{
    display: none;
}
main{
    min-height: 200vh;
    width: 100%;
    background: $dark;
    margin-top: 30px;
}
main .container{
    padding: 10px 0;
    text-align: center;
    color: $white;
    position: relative;
}
.bald-man{
    position: absolute;
    top: -60px;
    right: -80px;
}
.skill{
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2px !important;
}
.skill-img{
    height: 60px;
    padding: 15px;
    border-radius: 50%;
    background-color: $white;
    overflow: visible;
    margin: auto 0;
    aspect-ratio: 1;
    box-shadow: #32325d40 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, #0a254059 0px -2px 6px 0px inset;
}
.skill-content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.skill-content li{
    font-size: 13px;
    text-align: start;
    list-style: disc;
    color: $secondary;
    padding-left: 2px;
}
.skill-title{
    font-weight: 800;
    color: $white;
    text-shadow: 3px 0px 6px $primary,3px 0px $dark;
    font-family: 'Dancing Script';
    margin-bottom: 0;
}

.main-content{
    position: absolute;
    top: 170px;
    left: 12px;
    width: 88%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark;
    flex-direction: column;
    border-top: 5px solid $secondary;
    border-bottom: 10px solid $secondary;
    box-shadow: 0 0 3px 3px rgba(128, 128, 128, 0.366);
    background: $white;
}
.main-content h3{
    font-weight: 800;
    text-transform: uppercase;
}
.main-content p{
    font-size: 14px;
    margin-bottom: 15px;
}
main .container h2{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1.5px transparent;
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    text-shadow: 10px 9px 6px $dark,9px 7px $white;
    position: relative;
    letter-spacing: 3px;
}
main .container h2 span{
    text-shadow: 10px 9px 6px $primary,9px 7px $secondary;
}
.projects-area{
    margin-top: 50px;
}
.projects-area h3.project-area-header{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 1.5px transparent;
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    text-shadow: 10px 9px 6px $dark,9px 7px $dark;
    position: relative;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.project-area-header span{
    text-shadow: 10px 9px 6px $primary,9px 7px $dark;
}
.project-container{
    height: 160px;
    margin: 15px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    overflow: hidden;
}
.project-container:hover .imgBx{
    animation: moveup .5s linear forwards;
}
.project-container:hover .content{
    animation: movedwn .5s linear forwards;
}
.project-container:hover .main-content{
    animation: moveupp .5s linear forwards;
}
.project-container .imgBx{
    position: relative;
    width: 100%;
    height: 150px;
    background: url(/images/2.jpg);
    background-size: cover;
    transition: all 0.5s ease;
    border-radius: 15px 0 0 0;
}
.project-container .content{
    position: relative;
    width: 100%;
    height: 65px;
    background:rgb(255, 255, 255);
    transition: all 0.5s ease;
    border-radius: 0 0 15px 0;
    border-bottom: 5px solid $dark;
}
.project-container:nth-child(odd) .content{
    border-bottom: 5px solid $primary;
}
.project-container .content .project-name{
    position: absolute;
    top: -40px;
    left: 0;
    height: 40px;
    width: 50%;
    background: linear-gradient(to top,$white,$white,transparent);
    color: transparent;
    font-weight: 700;
    font-size: 20px;
    border-radius: 0 40px 40px 0;
    text-shadow: 10px 9px 6px $white,9px 9px $dark;
}
@keyframes moveup {
    0%{ top: 0;}
    100%{ top: -140px;}
}
@keyframes moveupp {
    0%{ top: 170px;}
    100%{ top: 11px;}
}
@keyframes movedwn {
    0%{ bottom: 0;}
    100%{ bottom: -100px;}
}
.contact-area{
    min-height: 80vh;
    margin-top: 70px;
    position: relative;
}
.contact-area h3{
    font-size: 49px;
    color: transparent;
    -webkit-text-stroke: 1.5px transparent;
    font-weight: 800;
    text-transform: uppercase;
    text-align: start;
    text-shadow: 10px 9px 6px $dark,9px 7px $dark;
    position: relative;
    letter-spacing: 3px;
}
.contact-area h3 span{
    text-shadow: 10px 9px 6px $primary,9px 7px $dark;
}
form{
    background: $white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0.5rem;
}
footer .container-fluid{
    background: $dark;
    text-align: center;
}
footer .container-fluid p{
    font-size: 0.9rem;
    color: $white;
}

}
@media (min-width:375px) {
    nav{
        padding: 20px 25px;
    }
    .nav-links-container .menu{
        padding: 10px 5px;
        right: -246px;
        top: 68.5px;
        width: 220px;
    }
    .nav-links-container .menu.active{
        right: -25px;
    }
    header{
        padding: 40px 15px;
    }
    .button-15{
        font-size: 16px;
    }
    .logo{
        font-size: 28px;
    }
    .nav-links-container a.btn{
        font-size: 23px;
    }
    header .title{
        font-size: 53px;
    }
    .header-variant{
        font-size: 17px;
    }
    .main-content p{
        font-size: 15px;
    }
    main .container h2{
        font-size: 53px;
    }
    .projects-area h3.project-area-header{
        font-size: 53px;
    }
    .project-container .content .project-name{
        font-size: 23px;
    }
    .contact-area h3{
        font-size: 53px;
    }
    footer .container-fluid p{
        font-size: 1.05rem;
    }
}
@media (min-width:425px) {
    .nav-links-container a.btn{
        font-size: 23px;
    }
    header .title{
        font-size: 53px;
    }
    .header-variant{
        font-size: 17px;
    }
    .oryt{
        border: 1px solid rgba(255, 255, 255, 0);
    }
    .main-content p{
        font-size: 15px;
    }
    main .container h2{
        font-size: 53px;
    }
    .projects-area h3.project-area-header{
        font-size: 53px;
    }
    .project-container .content .project-name{
        font-size: 23px;
    }
    .contact-area h3{
        font-size: 53px;
    }
    footer .container-fluid p{
        font-size: 1.05rem;
    }
}
@media (min-width:576px) {
    .button-15{
        font-size: 12px;
    }
    nav{
        padding: 20px 30px;
    }
    .nav-links-container .menu{
        padding: 10px 5px;
        right: -300px;
        top: 68.5px;
        width: 220px;
    }
    .nav-links-container .menu.active{
        right: -25px;
    }
    header{
        padding-top: 40px;
        padding-left: 5px;
        padding-right: 10px;
    }
    .button-15{
        font-size: 16px;
    }
    .logo{
        font-size: 28px;
    }
    .nav-links-container a.btn{
        font-size: 23px;
    }
    header .title{
        font-size: 63px;
    }
    .header-variant{
        font-size: 19px;
    }
    .main-content p{
        font-size: 15px;
    }
    main .container h2{
        font-size: 63px;
    }
    main{
    background: linear-gradient(to bottom,$dark 35%,$white 35%);
    }
    .projects-area h3.project-area-header{
        font-size: 63px;
    }
    .project-container .content .project-name{
        font-size: 23px;
    }
    .project-container{
        height: 170px;
    }
    .contact-area h3{
        font-size: 63px;
    }
    footer .container-fluid p{
        font-size: 1.05rem;
    }
}
@media (min-width:768px) {
    .button-15{
        font-size: 12px;
    }
    nav{
        padding: 20px 30px;
    }
    .nav-links-container .menu{
        padding: 10px 5px;
        right: -250px;
        top: 68.5px;
        width: 220px;
    }
    .nav-links-container .menu.active{
        right: -25px;
    }
    header{
        padding-top: 70px;
        height: 95vh;
        margin-bottom: 60px;
    }
    .button-15{
        font-size: 16px;
    }
    .logo{
        font-size: 32px;
    }
    .nav-links-container a.btn{
        font-size: 23px;
    }
    header .title{
        font-size: 65px;
    }
    .header-variant{
        font-size: 22px;
    }
    .main-content p{
        font-size: 15px;
    }
    main .container h2{
        font-size: 58px;
    }
    .projects-area h3.project-area-header{
        font-size: 58px;
    }
    .project-container .content .project-name{
        font-size: 23px;
    }
    .project-container{
        height: 170px;
    }
    .contact-area h3{
        font-size: 58px;
        width: 50%;
    }
    .contact-area h4{
        color: $dark;
    }
    footer .container-fluid p{
        font-size: 1.05rem;
    }
}
@media (min-width:992px) {
    nav{
        padding: 20px 70px;
    }
    nav::after{
        width: 70%;
    }
    .nav-links-container .menu{
        position: static;
        display: flex;
        width: auto;
        background-color: inherit;
        margin: auto 5px;
    }
    .nav-links-container .menu li{
        background-color: $white;
        margin-bottom: 0;
        padding-left: 3px;
        padding: 5px;
        border: none;
    }
    .nav-links-container .btn{
        display: none;
    }
    .nav-links-container .menu li a{
        display: block;
        font-weight: 400;
        font-size: 20px;
    }
    header{
        padding-top: 70px;
        height: 90vh;
        margin-bottom: 60px;
    }
    .button-15{
        font-size: 16px;
    }
    .logo{
        font-size: 32px;
    }
    .nav-links-container a.btn{
        font-size: 23px;
    }
    .okyy.lg{
        display: block;
    }
    .okyy.sm{
        display: none;
    }
    header .title{
        font-size: 75px;
        width: 50%;
    }
    .header-variant{
        font-size: 20px;
    }
    .quick-actions{
        border-radius: 40% 0 40% 0;
    }
    .quick-actions::after{
        position: absolute;
        content: '';
        top: -20%;
        right: -25%;
        z-index: -1;
        width: 140%;
        height: 800px;
    }
    .dev-container{
        position: relative;
        background-image: url(/images/coding-1.png);
        background-position: center;
        background-size: cover;
        height: 450px;
        width: 620px;
        border-radius: 15px;
        display: block;
    }
    .dev-container .img-1{
        width: 220px;
        height: 220px;
        position: relative;
        right: 5px;
        margin-bottom: 40px;
    }
    .oryt{
        display: flex;
        flex-direction: column;
        width: 30%;
    }
    .social{
        margin-bottom: 20px;
    }
    .xs{
        bottom: -10%;
    }
    .okyy model-viewer{
        width: 400px;
        height: 250px;
    }
    .social svg{
        height: 30px;
        margin-left: 10px;
    }
    .main-content p{
        font-size: 15px;
    }
    main .container h2{
        font-size: 80px;
    }
    .projects-area h3.project-area-header{
        font-size: 80px;
    }
    .project-container .content .project-name{
        font-size: 23px;
    }
    .project-container{
        height: 170px;
    }
    .contact-area h3{
        font-size: 70px;
        width: 45%;
    }
    footer .container-fluid p{
        font-size: 1.05rem;
    }
}
@media (min-width:1024px) {
}
@media (min-width:1200px) {
}
