/*******Google Fonts Import*******/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/*******Colors*******/
$primary: #e9fa00;
$secondary: #ff0000;
$dark: #000000;
$white: #ffffff;

body{
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    background: $white;
}
*a{
    text-decoration: none;
}
*li{
    list-style: none;
}
nav{
    background-color: $dark;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo{
    color: $white;
    font-size: 24px;
    font-weight: 700;
}
.nav-link{
    color: $white;
}
.nav-links-container{
    position: relative;
    background-color: $dark;
}
.nav-links-container ul{
    position: absolute;
    padding-left: 0;
    padding: 10px 5px;
    right: -10px;
    top: 210px;
    width: 200px;
    background-color: $dark;
    z-index: -1;
}
.nav-links-container ul li{
    background-color: $dark;
    margin-bottom: 5px;
    padding-left: 3px;
    border-radius: 4px 30px 4px 4px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    border: 1px solid;
}
.nav-links-container ul li a{
    display: inline-block;
}
.nav-links-container ul li svg{
    color: $secondary;
    margin: auto 0;
}
.btn{
    min-width: 100px;
}
/*******Small Screens Mobile********/
@media (min-width:320px) {
/*******Customize Defaults*******/

}
@media (min-width:375px) {
}
@media (min-width:425px) {
}
@media (min-width:576px) {
}
@media (min-width:768px) {
}
@media (min-width:992px) {
}
@media (min-width:1024px) {
}
@media (min-width:1200px) {
}
